parameters:
    level: 6
    paths:
        - bin/
        - config/
        - src/
        - tests/
    excludePaths:
        - migrations/
        - var/
        - vendor/
        - node_modules/ (?)

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    
    # Ignore some common Symfony patterns
    ignoreErrors:
        - '#Method .* should return .* but returns void\.#'
        - '#Call to method .* on an unknown class#'
        - '#Access to an undefined property#'