<article class="product-card">
    <div class="product-card__media">
        <span>Image</span>
    </div>

    <h3 class="product-card__title">{{ product.getName() }}</h3>

    <div class="product-card__sku">SKU: {{ product.getSku() }}</div>

    <p class="product-card__desc">{{ product.getDescription() }}</p>

    <div class="product-card__meta">
        <div class="price">&euro;99.00</div>
        <a href="#" class="product-card-button">View</a>
    </div>
</article>
