<ul>
    {% for navigationblock in this.getFooterCmsNavigation %}
        <div class="navigation-footer-block">
            {% for navigationItem in navigationblock %}
                <li><a href="{{ navigationItem.url }}">{{ navigationItem.label }}</a></li>
            {% endfor %}
        </div>
    {% endfor %}
</ul>