// mapiraj ga u app.scss-u
.plp {
    padding: 10px;

    .plp__grid {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap: 16px;
        margin-top:20px;
    }

    p {
        margin-top: 20px;
        color:#666;
    }
}